{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>3-axis Semantic Cosine Distance</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            background-color: #d0e1d3;
            /* Muted sage color */
            min-height: 100vh;
            /* Set the minimum height to 100% of the viewport height */
            display: flex;
            /* Add this line */
            flex-direction: column;
            /* Add this line */
        }

        .section {
            flex-grow: 1;
            /* Add this line */
        }

        .box-container {
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;
        }

        /* .form-box {
            height: 200px;
        } */

        .field .control input {
            width: 300px;
            /* Adjust the width as needed */
        }

        .input.is-primary {
            border-color: #00d1b2;
        }

        .input.is-info {
            border-color: #209cee;
        }

        .input.is-success {
            border-color: #23d160;
        }
    </style>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">3-axis Semantic Cosine Distance</h1>
            <div class="box-container">
                <div class="column is-one-third">
                    <div class="box form-box">
                        <form method="post" id="plot-form">
                            {% csrf_token %}
                            <div class="field has-addons">
                                <p class="control">
                                    <a class="button is-static is-primary">
                                        X
                                    </a>
                                </p>
                                <p class="control">
                                    <input class="input is-primary" type="text" name="x_text"
                                        placeholder="Enter X-axis label" value="{{ initial_x_text }}">
                                </p>
                            </div>
                            <div class="field has-addons">
                                <p class="control">
                                    <a class="button is-static is-info">
                                        Y
                                    </a>
                                </p>
                                <p class="control">
                                    <input class="input is-info" type="text" name="y_text"
                                        placeholder="Enter Y-axis label" value="{{ initial_y_text }}">
                                </p>
                            </div>
                            <div class="field has-addons">
                                <p class="control">
                                    <a class="button is-static is-success">
                                        Z
                                    </a>
                                </p>
                                <p class="control">
                                    <input class="input is-success" type="text" name="z_text"
                                        placeholder="Enter Z-axis label" value="{{ initial_z_text }}">
                                </p>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button type="submit" class="button is-primary" id="update-button">
                                        Update Plot
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box">
                        <h2 class="title is-4">Axis Correlations</h2>
                        <div class="progress-bars">
                            <div class="progress-bar">
                                <label id="xy-correlation-label" for="xy-correlation"></label>
                                <progress id="xy-correlation" class="progress is-primary" value="0" max="2"
                                    title=""></progress>
                            </div>
                            <div class="progress-bar">
                                <label id="xz-correlation-label" for="xz-correlation"></label>
                                <progress id="xz-correlation" class="progress is-info" value="0" max="2"
                                    title=""></progress>
                            </div>
                            <div class="progress-bar">
                                <label id="yz-correlation-label" for="yz-correlation"></label>
                                <progress id="yz-correlation" class="progress is-success" value="0" max="2"
                                    title=""></progress>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-two-thirds">
                    <div class="box">
                        <div id="plot-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="box mb-5">
                <h2 class="title is-4">Plot Summary
                    <button id="generate-summary-btn" class="button is-primary is-small">Generate</button>
                </h2>
                <div class="content">
                    <p id="plot-summary"></p>
                </div>
                <!-- <button id="generate-summary-btn" class="button is-primary">Generate Plot Summary</button> -->
            </div>
        </div>

        <div class="container">
            <div class="box mb-5">
                <!-- <label for="summary-box"></label> -->
                <div id="summary-box">
                    <div class="box">
                        <h4 class="title is-4" id="summary-title">Click on a point to learn more</h4>
                        <h5 class="subtitle is-5" id="summary-company"></h5>
                        <div class="progress-bars">
                            <div class="progress-bar">
                                <label for="x-progress" id="x-axis-label"></label>
                                <progress id="x-progress" class="progress is-primary" value="0" max="100"></progress>
                            </div>
                            <div class="progress-bar">
                                <label for="y-progress" id="y-axis-label"></label>
                                <progress id="y-progress" class="progress is-info" value="0" max="100"></progress>
                            </div>
                            <div class="progress-bar">
                                <label for="z-progress" id="z-axis-label"></label>
                                <progress id="z-progress" class="progress is-success" value="0" max="100"></progress>
                            </div>
                        </div>

                    </div>
                    <div class="box">
                        <h4 class="title is-4">Alignment Summary
                            <button id="generate-alignment-btn" class="button is-primary is-small">Generate</button>
                        </h4>
                        <div id="alignment-summary"></div>
                    </div>
                    <div class="box">
                        <div class="is-collapsible">
                            <div class="is-collapsible-trigger">
                                <h4 class="title is-4">Job Description</h4>
                                <a class="is-chevron">
                                    <span class="icon is-small">
                                        <i class="fas fa-chevron-down"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="is-collapsible-content" style="display: none;">
                                <div class="content">
                                    <p id="summary-description"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <script>
        // Function to update the progress bar labels and values
        function updateProgressBars() {
            var plot = document.getElementById('plot-container');
            var xAxisLabel = plot.layout.scene.xaxis.title.text;
            var yAxisLabel = plot.layout.scene.yaxis.title.text;
            var zAxisLabel = plot.layout.scene.zaxis.title.text;

            var xMin = plot.layout.scene.xaxis.range[0];
            var xMax = plot.layout.scene.xaxis.range[1];
            var yMin = plot.layout.scene.yaxis.range[0];
            var yMax = plot.layout.scene.yaxis.range[1];
            var zMin = plot.layout.scene.zaxis.range[0];
            var zMax = plot.layout.scene.zaxis.range[1];

            document.getElementById('x-axis-label').textContent = xAxisLabel + ':';
            document.getElementById('y-axis-label').textContent = yAxisLabel + ':';
            document.getElementById('z-axis-label').textContent = zAxisLabel + ':';

            document.getElementById('x-progress').max = xMax - xMin;
            document.getElementById('y-progress').max = yMax - yMin;
            document.getElementById('z-progress').max = zMax - zMin;
        }

        var pointData = null;

        function updateCorrelationBars(correlations) {
            var plot = document.getElementById('plot-container');
            var xAxisLabel = plot.layout.scene.xaxis.title.text;
            var yAxisLabel = plot.layout.scene.yaxis.title.text;
            var zAxisLabel = plot.layout.scene.zaxis.title.text;

            document.getElementById('xy-correlation-label').textContent = xAxisLabel + ' - ' + yAxisLabel;
            document.getElementById('xz-correlation-label').textContent = xAxisLabel + ' - ' + zAxisLabel;
            document.getElementById('yz-correlation-label').textContent = yAxisLabel + ' - ' + zAxisLabel;

            document.getElementById('xy-correlation').value = correlations[0];
            document.getElementById('xz-correlation').value = correlations[1];
            document.getElementById('yz-correlation').value = correlations[2];

            // Update the title attribute with the correlation value
            document.getElementById('xy-correlation').title = (correlations[0] - 1).toFixed(2);
            document.getElementById('xz-correlation').title = (correlations[1] - 1).toFixed(2);
            document.getElementById('yz-correlation').title = (correlations[2] - 1).toFixed(2);
        }

        // Fetch initial plot data from Django
        fetch('/get_plot_data/{{ initial_x_text }}/{{ initial_y_text }}/{{ initial_z_text }}/')
            .then(response => response.json())
            .then(data => {
                // Initialize the plot with the initial data and axis labels
                console.log('Received data.layout:', data.layout);
                Plotly.newPlot('plot-container', JSON.parse(data.data), data.layout);

                // Update the progress bars
                updateProgressBars();
                updateCorrelationBars(data.corr);

                // console.log(response)

                // Attach event listeners after the plot is initialized
                var plot = document.getElementById('plot-container');
                var xMax = plot.layout.scene.xaxis.range[1];
                plot.on('plotly_click', function (eventData) {
                    var point = eventData.points[0];
                    pointData = {
                        customData: point.customdata,
                        x: point.x,
                        y: point.y,
                        z: point.z
                    };

                    // Send the clicked point data to the Django view function
                    fetch('/get_point_summary/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify(pointData)
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.summary) {
                                // Update the summary box with the received data
                                document.getElementById('summary-title').textContent = data.summary.title;
                                document.getElementById('summary-company').textContent = data.summary.company;
                                document.getElementById('summary-description').textContent = data.summary.description;

                                // Update the progress bars with the received x, y, z values
                                document.getElementById('x-progress').value = xMax - data.summary.x;
                                document.getElementById('y-progress').value = xMax - data.summary.y;
                                document.getElementById('z-progress').value = xMax - data.summary.z;

                                // Collapse the job description by default
                                var collapsible = document.querySelector('.is-collapsible');
                                collapsible.classList.remove('is-active');

                                // Display the generated summary
                                document.getElementById('alignment-summary').innerHTML = data.summary.summary;
                            } else {
                                // Clear the summary box if no data is available
                                document.getElementById('summary-title').textContent = '';
                                document.getElementById('summary-company').textContent = '';
                                document.getElementById('summary-description').textContent = '';

                                // Reset the progress bars to the minimum value
                                document.getElementById('x-progress').value = document.getElementById('x-progress').min;
                                document.getElementById('y-progress').value = document.getElementById('y-progress').min;
                                document.getElementById('z-progress').value = document.getElementById('z-progress').min;

                                // Clear the generated summary
                                document.getElementById('alignment-summary').textContent = 'No alignment summary available.';
                            }
                        })
                        .catch(error => console.error('Error:', error));
                });
            });

        // Update the plot when the form is submitted
        document.getElementById('plot-form').addEventListener('submit', function (event) {
            event.preventDefault();

            var formData = new FormData(event.target);
            var xText = formData.get('x_text');
            var yText = formData.get('y_text');
            var zText = formData.get('z_text');

            // Add the 'is-loading' class to the button
            document.getElementById('update-button').classList.add('is-loading');

            fetch(`/update_plot_data/${xText}/${yText}/${zText}/`, {
                method: 'GET',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                credentials: 'same-origin'
            })
                .then(response => response.json())
                .then(data => {
                    // Update the plot with the new data and axis labels
                    Plotly.react('plot-container', JSON.parse(data.data), data.layout);

                    // Update the correlation values in the progress bars
                    document.getElementById('xy-correlation').value = data.corr[0];
                    document.getElementById('xz-correlation').value = data.corr[1];
                    document.getElementById('yz-correlation').value = data.corr[2];

                    // Remove the 'is-loading' class from the button
                    document.getElementById('update-button').classList.remove('is-loading');
                })
                .catch(error => console.error('Error:', error));
        });

        document.getElementById('generate-summary-btn').addEventListener('click', function () {
            var button = this;
            button.classList.add('is-loading');

            generatePlotSummary(button);
        });

        function generatePlotSummary(button) {
            var xText = document.querySelector('input[name="x_text"]').value;
            var yText = document.querySelector('input[name="y_text"]').value;
            var zText = document.querySelector('input[name="z_text"]').value;

            fetch('/generate_plot_summary/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    x_text: xText,
                    y_text: yText,
                    z_text: zText
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.summary) {
                        document.getElementById('plot-summary').innerHTML = data.summary;
                    } else {
                        document.getElementById('plot-summary').textContent = 'No summary available.';
                    }
                    button.classList.remove('is-loading');
                })
                .catch(error => {
                    console.error('Error:', error);
                    button.classList.remove('is-loading');
                });
        }

        document.getElementById('generate-alignment-btn').addEventListener('click', function () {
            var button = this;
            button.classList.add('is-loading');

            generateAlignmentSummary(button);
        });

        function generateAlignmentSummary(button) {
            if (pointData) {
                var xText = document.querySelector('input[name="x_text"]').value;
                var yText = document.querySelector('input[name="y_text"]').value;
                var zText = document.querySelector('input[name="z_text"]').value;

                fetch('/get_alignment_summary/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        uuid: pointData.customData,
                        x_text: xText,
                        y_text: yText,
                        z_text: zText
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.summary) {
                            document.getElementById('alignment-summary').innerHTML = data.summary;
                        } else {
                            document.getElementById('alignment-summary').textContent = 'No alignment summary available.';
                        }
                        button.classList.remove('is-loading');
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        button.classList.remove('is-loading');
                    });
            } else {
                button.classList.remove('is-loading');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            var collapsibles = document.querySelectorAll('.is-collapsible');
            collapsibles.forEach(function (collapsible) {
                var trigger = collapsible.querySelector('.is-collapsible-trigger');
                var content = collapsible.querySelector('.is-collapsible-content');
                trigger.addEventListener('click', function () {
                    if (content.style.display === 'none') {
                        content.style.display = 'block';
                    } else {
                        content.style.display = 'none';
                    }
                });
            });
        });
    </script>
</body>

</html>