{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half">
                    <div class="box">
                        <h2 class="title is-4">Contact Information</h2>
                        <p>You can reach me through the following channels:</p>
                        <ul>
                            <li>Email: nick@nbdata.co</li>
                            <li>Github: nickojelly</li>
                            <li>Website: <a href="https://nbdata.co" target="_blank">nbdata.co</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
{% endblock %}
