{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Contact Us</h1>
            <p class="subtitle">Get in touch with us for any inquiries or feedback.</p>

            <div class="columns">
                <div class="column is-half">
                    <div class="box">
                        <h2 class="title is-4">Contact Information</h2>
                        <p>You can reach us through the following channels:</p>
                        <ul>
                            <li>Email: nick@nbdata.co</li>
                            <li>Github: nickojelly</li>
                            <li>Website: nbdata.co</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
{% endblock %}
